
<!-- about.html -->
<!-- requirements 
the group name
the group members
for each member:
    name
    photo
    bio
    major responsibilities
    no. of commits
    no. of issues
    no. of unit tests
stats from gitlab repo:
    total no. of commits
    total no. of issues
    total no. of unit tests
    a link to the GitLab Issue Tracker
    a link to the GitLab Repo
    a link to the GitLab Wiki
data:
    links to the data sources
tools:
    tools used 
-->
<html>
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/purple.css">
</head>
<style>
	.list-group-item {
  	background-color:white;}
	  footer {display: flex; 
		align-items: center; 
		justify-content: center;} 
</style>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
		<!-- <a class="navbar-brand" href="#">Navbar</a> -->
		<a class="navbar-brand" href="#">
		  <img src="../static/images/Capture.JPG" width="30" height="30" alt="">
		  </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="container-fluid">
		  <a class="navbar-brand" href="{{url_for('splashPage')}}">Diamond Hands<span class="sr-only">(current)</span></a>
		</div>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<!-- <li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li> -->
			<li class="nav-item">
			  <a class="nav-link" href="{{url_for('aboutPage')}}">About</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{{url_for('showTickers')}}">Stocks</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{{url_for('showSectors')}}">Sector</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{{url_for('showIndices')}}">Indices</a>
			</li>
		  </ul>
		</div>
	  </nav>

	  <div class = "bg">
	  </div>
	  
	  <style>
		body {
		  background-image: url('../static/images/bg2.png');
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-size: cover;
		}
	  </style>
	<a class="btn btn-primary" href="{{url_for('testPage')}}" role="button">Unit Test</a>
	<figure>
		<p class = "h1 text-center text"> About DiamondHands</p>
		<p class = "lead text-center"> The DiamondHands project looks at historical data from popular investment subreddits and displays it along side data on stocks, industries, and indexes in order to give insight into investment trends.</p>
		<br></br>
		
		<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-5 g-4">
			<div class="col">
				<div class="card h-100 border-dark" style="width: 18rem;">
					<img src="{{url_for('static', filename = '../static/images/kevinmckenzie.jpg') }}" width="250" height="250" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title text-center">Kevin McKenzie</h5>
						<h6 class="card-subtitle mb-2 text-muted">Front End and Reddit Web Scraping</h6>
						<p class="card-text">Kevin is a senior mechanical engineering major who enjoys long walks on the beach.</p>
						<b>GitLab Stats:</b>
						<ul class="unstyled-list text-left">
						  <li>Commits: 2</li>
						  <li>Issues: 0</li>
						  <li>Unit Tests: 0</li>
						</ul>
						
						<a href="https://gitlab.com/kbm967" class="btn btn-primary">GitLab</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100 border-dark" style="width: 18rem;">
					<img src="{{url_for('static', filename = '../static/images/asyam.jpg')}}" width="250" height="250" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Asya Mazmanyan</h5>
						<h6 class="card-subtitle mb-2 text-muted">Front and Back End Developer</h6>
						<p class="card-text">Asya is a graduating senior in Geography and the Elements of Computing. 
							She spends her time playing board games with her friends and enjoying outdoor activities like running, hiking, and camping. 
							She can be reached at asyalm@utexas.edu 
							or through her <a href="https://www.cs.utexas.edu/~asyalm/index.html">personal site</a>.</p>
						<b>GitLab Stats:</b>
						<ul class="unstyled-list text-left">
						  <li>Commits: 4</li>
						  <li>Issues: 10</li>
						  <li>Unit Tests: 0</li>
						</ul>
						<a href="https://gitlab.com/asyalm" class="btn btn-primary">GitLab</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100 border-dark" style="width: 18rem;">
					<img src="../static/images/eden.jpeg" width="250" height="250" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Liang Yanqi</h5>
						<h6 class="card-subtitle mb-2 text-muted">Front and Back End Developer</h6>
						<p class="card-text">Eden is a senior MIS major graduation spring 2021. This is not her dog but she enjoy spending time with her dog at home. </p>
						<b>GitLab Stats:</b>
						<ul class="unstyled-list text-left">
						  <li>Commits: 17</li>
						  <li>Issues: 0</li>
						  <li>Unit Tests: 0</li>
						</ul>
						<a href="https://gitlab.com/lyq-qi" class="btn btn-primary">GitLab</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card h-100 border-dark" style="width: 18rem;">
					<img src="../static/images/selfphoto7.jpg" width="250" height="250" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Ibhrahim Abdullah</h5>
						<h6 class="card-subtitle mb-2 text-muted">Project Leader and Technical Writer</h6>
						<p class="card-text">Ibrahim Abdullah is a fourth-year computational chemistry and MIS double major. He is currently interning at Itron Inc. as a technical project manager in the global TechOps sector. His interests include project and program management, technology in healthcare, web development, and applications of computational chemistry.</p>
						<b>GitLab Stats:</b>
						<ul class="unstyled-list text-left">
						  <li>Commits: 0</li>
						  <li>Issues: 0</li>
						  <li>Unit Tests: 0</li>
						</ul>
						<a href="https://gitlab.com/ibrahimabdullah" class="btn btn-primary">GitLab</a>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card h-100 border-dark" style="width: 18rem;">
					<img src="{{url_for('static', filename = '../static/images/will.jpg')}}" width="250" height="250" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">Will McPherson</h5>
						<h6 class="card-subtitle mb-2 text-muted">Front End Developer</h6>
						<p class="card-text">Will is a a senior Mechanical Engineering major. He is interested in video games, cryptocurrency, stocks, and music. Will plays the guitar and builds computers in his free time.</p>
						
						<p class="card-text">Will is a great project partner and works super hard!</p>

						<b>GitLab Stats:</b>
						<ul class="unstyled-list text-left">
						  <li>Commits: 3</li>
						  <li>Issues: 0</li>
						  <li>Unit Tests: 0</li>
						</ul>
						<a href="https://gitlab.com/willmcp" class="btn btn-primary">GitLab</a>
					</div>
				</div>
			</div>
		</div>
	<figure>
	<br></br>
	<div class = "row row-cols-1 row-cols-sm-1 row-cols-md-2">
		<div class="card mx-auto border-light" align="center">
			<div class="card-header bg-primary card-header-light text-light"> <h4>Git Totals</h4></div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item text-dark"><b>Commits: 70 </b></li>
				<li class="list-group-item text-dark"><b>Issues: 19</b></li>
				<li class="list-group-item text-dark"><b>Unit Tests: 0</b></li>
				<li class="list-group-item">
					<a href="https://gitlab.com/ibrahimabdullah/cs331e-idb/">GitLab Repo</a> 
				</li>
				<li class="list-group-item">
					<a href="https://gitlab.com/ibrahimabdullah/cs331e-idb/-/issues">GitLab Issue Tracker</a> 
				</li>
				<li class="list-group-item">
					<a href="https://gitlab.com/ibrahimabdullah/cs331e-idb/-/issues">GitLab Wiki</a> 
				</li>
			</ul>
		</div>
		
		<br></br>
		<div class="card mx-auto border-light" align="center">
			<div class="card-header bg-primary text-light"> <h4>Data Sources</h4></div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a href="https://praw.readthedocs.io/en/latest/">PRAW</a> 
				</li>
				<li class="list-group-item">
					<a href="https://www.alphavantage.co/">AlphaVantage</a> 
				</li>
				<li class="list-group-item">
					<a href="https://developer.tradier.com/">Tradier</a> 
				</li>
				<li class="list-group-item">
					<br>
				</li>
				<li class="list-group-item">
					<br>
				</li>
				<li class="list-group-item">
					<br>
				</li>
				
			</ul>
		</div>
	</div>
	<br></br>
	<div class="card mx-auto border-light" align="center">
		<div class="card-header bg-primary text-light"> <h4>Tools Used</h4></div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<img src="{{url_for('static', filename = '../static/images/flask-logo.png')}}" width="25" height="25" alt="...">
				<a href="https://flask.palletsprojects.com/en/1.1.x//">Flask</a> 
			</li>
			<li class="list-group-item">
				<img src="{{url_for('static', filename = '../static/images/bootstrap_logo.png')}}" width="30" height="25" alt="...">
				<a href="https://getbootstrap.com/">Bootstrap</a> 
			</li>
			<li class="list-group-item">
				<img src="{{url_for('static', filename = '../static/images/gitlab_logo.jpg')}}" width="30" height="25" alt="...">
				<a href="https://www.gitlab.com/">GitLab</a> 
			</li>
			<li class="list-group-item">
				<img src="{{url_for('static', filename = '../static/images/GCP_logo.png')}}" width="50" height="25" alt="...">
				<a href="https://cloud.google.com/">GCP</a> 
			</li>
			<li class="list-group-item">
				<img src="{{url_for('static', filename = '../static/images/slack_logo.png')}}" width="25" height="25" alt="...">
				<a href="https://www.slack.com/">Slack</a> 
			</li>
		</ul>
	</div>
	<br>
	  <br>
	  <br>
</body>	
</html>