<!-- Model: Indices --> 

<html> 
<style>
    body {
		background-image: url('../static/images/bg2.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		}
	</style>
<head>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/purple.css">
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <a class="navbar-brand" href="#">
              <img src="../static/images/Capture.JPG" width="30" height="30" alt="">
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid">
              <a class="navbar-brand" href="{{url_for('splashPage')}}">Diamond Hands<span class="sr-only">(current)</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('aboutPage')}}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('showTickers')}}">Stocks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('showSectors')}}">Sector</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('showIndices')}}">Indices</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Stocks
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div> -->
                    <!-- <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li> -->
                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
              </ul>
              <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form> -->
            </div>
          </nav>
<!-- Flask populating --> 
    <div>
        {% if index_info == [] %}
          <p>Nothing to see here!</p>  
        {% else %}
		      <p class = "h1 text-center text">Indices</p>
		      <br></br>
          <table style="width: auto;" class="table table-striped table-bordered t-dark table-condensed mx-auto">
				<thead class = "bg-dark text-white">
					<tr> 
						<th> Symbol </th>
						<th> Name </th>
						<!-- <th> Sectors </th> -->
            <th> Stocks </th>
						<th> Number of Companies </th>
						<th> Market Cap </th>
            <th> Year Founded </th>
					</tr>
				</thead>
            {% for row in index_info %}
				<tbody>
					<tr> 
						<td> 
              <!-- index symbol -->
							<a href="{{url_for('indexInstance', index = row.index)}}"> {{row.index}} </a>
						</td>
						<td> 
              <!-- index name -->
							{{row.name}}
						</td>
          <!-- index sectors -->
          <!--
						<td> 
              {% for i in index_sectors[row.name] %}
                <a href="{{url_for('sectorInstance', sector = i.name)}}"> {{i.name}} </a>
                <br>
              {% endfor %}
            </td>
          -->
						<td> 
              <!-- index stocks -->
              {% for i in index_stocks[row.name] %}
                <a href="{{url_for('tickerInstance', stock = i.sym)}}"> {{i.sym}} </a>
                <br>
              {% endfor %}
						</td>
						<td> 
              <!-- index Number of Companies -->
							{{row.i_comp}}
						</td>
						<td> 
              <!-- index market cap -->
							{{row.cap}}
						</td>
						<td> 
              <!-- index year founded -->
							{{row.year}}
						</td>
					</tr>
				</tbody>
            {% endfor %}
            </table>
        {% endif %}
    </div>
    
</body> 

</html>