<!-- Model: Sectors --> 

<html> 
<style>
    body {
		background-image: url('../static/images/bg2.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		}
</style>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/purple.css">
</head>
	
<body>
	
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <a class="navbar-brand" href="#">
              <img src="../static/images/Capture.JPG" width="30" height="30" alt="">
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid">
              <a class="navbar-brand" href="{{url_for('splashPage')}}">Diamond Hands<span class="sr-only">(current)</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('aboutPage')}}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('showTickers')}}">Stocks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('showSectors')}}">Sector</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('showIndices')}}">Industry</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Stocks
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div> -->
                    <!-- <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li> -->
                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
              </ul>
              <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form> -->
            </div>
          </nav>
	<!-- <form action = "{{url_for('showSectors')}}" method = 'POST'>
		<button type="submit" class ="btn btn-dark" name="alpha" value="alpha" id="btnSort" method = 'POST'>Sort Alpha</button>
		<button type="submit" class ="btn btn-dark" name="reverse" value="reverse" id="btnSort" method = 'POST'>Sort Reverse Alpha</button>
	</form> -->
<!-- Flask populating --> 
		<p class = "h1 text-center text"> Sectors</p>
		<br></br>
		<div class = "table-responsive">
			{% if sectors_info == [] %}
				<p>Nothing to see here!</p>  
			{% else %}
				<table style="width: auto;" class="table table-striped table-bordered t-dark table-condensed mx-auto">
					<thead class = "bg-dark text-white">
						<tr> 
							<th scope="col">Name</th>
							<th scope="col">Industries</th>
            				<th scope="col">Stock Example</th>
							<th scope="col">Market Capitalization</th>
							<th scope="col">One Year Change</th>
            				<th scope="col">Percent</th>
						</tr>
					</thead> 
					<tbody>
					{% for row in sectors_info.items %}
						<tr> 
							<td> 
								<!-- sector name -->
								<a href="{{url_for('sectorInstance', sector = row.s_name)}}"> {{row.s_name}} </a>
							</td>
							<td> 
								
								<a href="{{url_for('indexInstance', index = row.industries)}}"> {{row.industries}} </a>
								<br>
								
							</td>
							<td> 
								<!-- sector Stocks -->
								
								<a href="{{url_for('tickerInstance', stock = row.stocks)}}"> {{row.stocks}} </a>
								<br>
								
							</td>
							<td> 
								<!-- sector market capitalization -->
								{{row.cap}}
							</td>
							<td> 
								<!-- sector one year change -->
								{{row.one_yr_ch}}
							</td>
							<td> 
								<!-- sector percent -->
								{{row.percent}}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>
	
	{% if sectors_info.has_prev %}
	<div class = "d-grid gap-2 d-md-flex">
		<a href = "{{url_for('showSectors',page = sectors_info.prev_num)}}" class = "btn btn-outline-dark">Previous</a>
	</div>
	{% endif %}
	{% if sectors_info.has_next %}
	<div class = "d-grid gap-2 d-md-flex justify-content-md-end">
		<a href = "{{url_for('showSectors',page = sectors_info.next_num)}}" class = "btn btn-outline-dark">Next</a>
	</div>
	{% endif %}
	  
</body> 

</html>