<!DOCTYPE html>
<html>

  <style>
    h1 {text-align: center;}
    p {text-align: center;}
    h4 {text-align: center;
        padding: 5%;}
    /* div {text-align: center;} */
    /* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;} */
    /* .home {
    background-image: url('../static/images/source.gif'), url('../static/images/source.gif');
    background-repeat: no-repeat, no-repeat;
    background-size: 50% 100%;
    background-position: top, bottom;} */
    body, html {height: 120%;}
  .bg {
  /* The image used */
  background-image: url("../static/images/source.gif");

  /* Full height */
  height: 90%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}
    </style>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="../static/css/purple.css">
    </head>
    <body>
        <!-- Just an image -->
        <!-- <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
            <img src="../static/images/Capture.JPG" width="30" height="30" alt="">
            </a>
        </nav> -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <a class="navbar-brand" href="#">
              <img src="../static/images/Capture.JPG" width="30" height="30" alt="">
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid">
              <a class="navbar-brand" href="{{url_for('splashPage')}}">Diamond Hands<span class="sr-only">(current)</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('aboutPage')}}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('showTickers')}}">Stocks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('showSectors')}}">Sector</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('showIndices')}}">Industry</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Stocks
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div> -->
                    <!-- <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li> -->
                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
              </ul>
              <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form> -->
            </div>
          </nav>

          <div class = "bg">
          </div>
          
          <!-- <style>
            body {
              background-image: url('../static/images/Capture.JPG');
              background-position: bottom;
              background-repeat: no-repeat;
              background-size: cover;}
            }
          </style> -->
          <style>
            body {
              background-image: url('../static/images/bg2.png');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
          </style>
          <br>
        
          </br>

          <h1>
            Purpose
          </h1>
          <br>
          <h4>
            The main motivation for this project in its entirety was to be able to track the popularity of certain stocks on the New York Stock Exchange by analyzing Reddit comments.
            The particular stocks would be displayed in a leaderboard format with requisite information, such as a market cap, daily high price, daily low price, opening price, and price to earning ratio.
            In addition to stocks, the other two pillars of the website would also be analyzed in the same fashion.
          </h4>
          <br>
          <br>
          <br>
          <br>
          
          <!-- <div class = "container-fluid">
            <div class = "row">
              <div class = "col-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsam quis iusto, ad atque officiis eum tempore reprehenderit omnis mollitia quisquam expedita accusamus dolor perferendis adipisci laboriosam esse blanditiis minima?
              </div>
              <div class = "col-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla non vel voluptatum atque ipsum fuga. Suscipit adipisci quibusdam ex asperiores nihil accusamus cumque vel obcaecati, laudantium eligendi earum ea eum.
              </div>
              <div class = "col-4">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus magnam quidem, ducimus animi ipsa cum dolores suscipit ad odit nulla officia, placeat numquam voluptatibus, omnis minima nam quis excepturi nisi.
              </div>

            </div> -->
            <!-- <div class="card" style="width: 20rem;">
              <img src="../static/images/Capture.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Stocks</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">More Info</a>
              </div>
            </div>
          </div> -->
          <div class="col d-flex justify-content-center">
            <div class="row">
              <div class="col-sm-4">
                <div class="card" style="width: 25rem;">
                  <img src="../static/images/download.jfif" class="card-img-top" width="275" height="275" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Stocks</h5>
                    <p class="card-text">Learn more about popular stocks we have gathered for you.</p>
                    <a href="{{url_for('showTickers')}}" class="btn btn-primary">More info</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card" style="width: 25rem;">
                  <img src="../static/images/sectors.jpg" class="card-img-top" width="275" height="275" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Sectors</h5>
                    <p class="card-text">Learn more about different sector information we have gathered for you.</p>
                    <a href="{{url_for('showSectors')}}" class="btn btn-primary">More info</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card" style="width: 25rem;">
                  <img src="../static/images/index.jpg" class="card-img-top" width="275" height="275" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Indices</h5>
                    <p class="card-text">Learn more about the different industries we have gathered for you.</p>
                    <a href="{{url_for('showIndices')}}" class="btn btn-primary">More Info</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>

          <footer class="footer-distributed">

            <div class="footer-left">
                
      
              <p class="footer-links">
                <a href="{{url_for('splashPage')}}">To-Top</a>
                |
                <a href="{{url_for('aboutPage')}}">About</a>
                <!-- |
                <a href="#">Contact</a> -->
              </p>
      
              <p class="footer-company-name">© 2021 Diamond Hand Inc.</p>
            </div>
      
            <div class="footer-center">
              <!-- <div>
                <i class="fa fa-map-marker"></i>
                  <p><span>309 - Rupa Solitaire,
                   Bldg. No. A - 1, Sector - 1</span>
                  Mahape, Navi Mumbai - 400710</p>
              </div> -->
      
              <div>
                <i class="fa fa-phone"></i>
                <p>Phone Number: 512-454-3232</p>
              </div>
              <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@sample.com">support@sample.com</a></p>
              </div>
            </div>
            <!-- <div class="footer-right">
              <p class="footer-company-about">
                <span>About the company</span>
                We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p>
              <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div> -->
          </footer>
      </body>
</html>